In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.4'

In [3]:
df = pd.read_csv('yellow_tripdata_2021-07.csv.gz', nrows=100, compression='gzip')

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [3]:
df = pd.read_csv('yellow_tripdata_2021-07.csv', nrows=100)

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [15]:
df_iter = pd.read_csv('yellow_tripdata_2021-07.csv', iterator=True, chunksize=100000)
df_iter

In [16]:
df = next(df_iter)

In [17]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [20]:
# Create the table in postgresql
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [21]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 5.01 s, sys: 438 ms, total: 5.45 s
Wall time: 30.4 s

1000

In [22]:
from time import time

In [28]:
tmp = 123.123
print(f"asdf {tmp:.2f}")

asdf 123.12

In [29]:
# Add remaining rows to the table
while True:
    t_start = time()
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    
    t_end = time()
    
    print(f"inserted another chunk..., took {t_end - t_start:.3f} seconds")

inserted another chunk..., took 23.898 seconds
inserted another chunk..., took 18.382 seconds
inserted another chunk..., took 17.547 seconds
inserted another chunk..., took 24.341 seconds
inserted another chunk..., took 27.205 seconds
inserted another chunk..., took 18.989 seconds
inserted another chunk..., took 29.429 seconds
inserted another chunk..., took 30.104 seconds
inserted another chunk..., took 25.708 seconds
inserted another chunk..., took 21.404 seconds
inserted another chunk..., took 20.121 seconds
inserted another chunk..., took 27.523 seconds
inserted another chunk..., took 19.575 seconds
inserted another chunk..., took 18.333 seconds
inserted another chunk..., took 28.202 seconds
inserted another chunk..., took 21.151 seconds
inserted another chunk..., took 18.580 seconds
inserted another chunk..., took 18.571 seconds
inserted another chunk..., took 21.045 seconds
inserted another chunk..., took 30.420 seconds
inserted another chunk..., took 43.691 seconds
inserted another chunk..., took 26.469 seconds
inserted another chunk..., took 18.891 seconds
inserted another chunk..., took 19.748 seconds
inserted another chunk..., took 45.548 seconds

/var/folders/62/z8lwyqfj0gx7nx1vv3g2sd1w0000gn/T/ipykernel_13005/1028631522.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 29.394 seconds
inserted another chunk..., took 15.733 seconds
inserted another chunk..., took 3.739 seconds

StopIteration: